footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(335deg, #5f489a, #383116, #474262);
  box-shadow: 4px 10px 20px 12px rgba(45, 28, 71, 0.89);
  border-radius: 20px;
  padding: 20px;
  filter: contrast(.85);
  transition: filter .8s ease-out;
}

.footer-container:hover {
  filter: contrast(1);
}

footer p {
  margin-top: 30px;
  color: #fff;
  font-size: 18px;
}

footer p span {
  color: #a088fc;
}

.logo-bas {
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  footer {
    padding: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  footer p {
    font-size: 12px;
  }
}